server:
  port: 8761

spring:
  application:
    name: operis-discovery-service

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    fetch-registry: false
    register-with-eureka: false