server:
  port: 8888
  address: 0.0.0.0

spring:
  application:
    name: operis-configuration-server

  profiles:
    active: git

  cloud:
    config:
      server:
        git:
          uri: https://github.com/marvinkn97/operis-configuration-repo.git
          default-label: master
          clone-on-start: true
          force-pull: true

  rabbitmq:
    host: localhost
    port: 5672
    username: operis
    password: password

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - busrefresh
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

